---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";

const allPost = await Astro.glob("../content/*.md");
---

<Layout title="Welcome to Astro.">
  <main>
    <Header title="Astrobuild.tips" />
    <Hero />
    <ul role="list" class="link-card-grid">
      {
        allPost.map((item) => {
          <Card
            href="https://docs.astro.build/"
            title={item?.frontmatter?.title}
            body={item?.frontmatter?.tips}
          />;
        })
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
